body{
    display: flex;
    align-items: center;
    font-family: "JetBrains Mono SemiBold", "JetBrains Mono";
    justify-content: center;
    line-height: 1.5;
    min-height: 100vh;
    background: #212121;
    color: darkred;
    flex-direction: column;
    margin: 0;
}

.main{
    max-width: 100%;
    background-color: rgba(0,0,0,0.75);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

.main h1{
    color: darkred;
}

.main input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: darkred;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

.submit_btn{
    background-color: #ffc03c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_btn:hover {
    background-color: #e5ac36;
}

a {
    color: #ffc03c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}