html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#background-image {
    background-image: url("landing-page-bg.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: white;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

main {
    position: relative;
    z-index: 1;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-content {
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 20px;
}

.main-section-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-section-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.main-section-content h2 {
    color:#f4c542;
}

.signup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup button {
    display: inline-block;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    height: 50px;
    font-size: 20px;
}



